<script>
  let shown = false
  export function show() {
    shown = true
  }

  export function hide() {
    shown = false
  }
</script>

<svelte:window on:keydown={(e) => e.keyCode == 27 && hide()} />
{#if shown}
  <div class="fixed z-50 inset-0 overflow-y-auto">
    <div
      class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
    >
      <div class="fixed inset-0 transition-opacity" aria-hidden="true">
	<div class="absolute inset-0 bg-gray-500 opacity-75" />
      </div>

      <!-- This element is to trick the browser into centering the modal contents. -->
      <span
	class="hidden sm:inline-block sm:align-middle sm:h-screen"
	aria-hidden="true">&#8203;</span
      >

      <div
	class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
	role="dialog"
	aria-modal="true"
	aria-labelledby="modal-headline"
      >
	<div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
	  <div class="sm:flex sm:items-start">
	    <div
	      class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-blue-100 sm:mx-0 sm:h-10 sm:w-10"
	    >
	      <!-- Heroicon name: info -->
	      <svg
		class="h-6 w-6 text-blue-600"
		xmlns="http://www.w3.org/2000/svg"
		fill="none"
		viewBox="0 0 24 24"
		stroke="currentColor">
		<path
		  stroke-linecap="round"
		  stroke-linejoin="round"
		  stroke-width="2"
		  d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
		/>
	      </svg>
	    </div>
	    <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
	      <h3
		class="text-lg leading-6 font-medium text-gray-900"
		id="modal-headline"
	      >About</h3>
	      <div class="mt-2">
		<p class="text-sm text-gray-500">
		  This tool was developed by <a
		    href="https://amil.mohanan.net/"
		    class="text-blue-600 hover:text-blue-900">Amil Mohanan</a
		  >
		  and is based on the
		  <a
		    href="https://abc-ld.org/"
		    class="text-blue-600 hover:text-blue-900"
		    >ABC Learning Design Toolkit</a
		  >. Developed using the
		  <a
		    href="https://svelte.dev/"
		    class="text-blue-600 hover:text-blue-900">Svelte</a
		  >
		  framework and
		  <a
		    href="https://yjs.dev/"
		    class="text-blue-600 hover:text-blue-900">Yjs</a
		  >.
		  <a
		    href="https://gitlab.com/amil-m/abc-collab"
		    class="text-blue-600 hover:text-blue-900">Source code</a
		  >
		  available under the GNU General Public License v3.0.
		</p>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
	  <button
	    type="button"
	    class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
	    on:click={() => hide()}>Close</button
	  >
	</div>
      </div>
    </div>
  </div>
{/if}
