<script>
  export let item
  export let column

  import { createEventDispatcher } from 'svelte'
  const dispatch = createEventDispatcher()

  function editItem() {
    dispatch('edit', {
      column: column,
      item: item,
    })
  }

  // Learning activities
  const l_written = [
    { value: 'acq', text: 'Acquisition' },
    { value: 'col', text: 'Collaboration' },
    { value: 'dis', text: 'Discussion' },
    { value: 'inv', text: 'Investigation' },
    { value: 'pra', text: 'Practice' },
    { value: 'pro', text: 'Production' },
  ]
</script>

<div class="flex shadow-sm rounded-sm overflow-hidden w-full">
  <div class="w-1 bg-{item.l_type}"><!-- Side Colour --></div>
  <div class="group bg-white hover:bg-gray-50 w-full">
    <div class="w-full">
      <div class="flex flex-grow items-center p-1">
	<span
	  class="flex-grow leading-6 font-medium text-sm text-gray-900 truncate"
	  >{item.name}</span
	>
	<button
	  type="button"
	  on:click={() => editItem()}
	  class="text-gray-400 hover:text-gray-900">
	  <svg
	    aria-label="Pencil icon for edit item"
	    class="w-4 h-4 mr-1 opacity-0 group-hover:opacity-100"
	    xmlns="http://www.w3.org/2000/svg"
	    viewBox="0 0 20 20"
	    fill="currentColor">
	    <path
	      d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"
	    />
	  </svg>
	</button>
      </div>
    </div>

    <div class="text-sm p-1 mb-1 text-gray-600">
      {@html item.desc}
      <div class="mt-3">
	<span
	  class="text-xs font-medium py-1 px-2 rounded-sm
		   {item.l_type ==
	    'acq' && 'text-acq-darkest bg-acq'}
		   {item.l_type == 'col' &&
	    'text-col-darkest bg-col'}
		   {item.l_type == 'dis' &&
	    'text-dis-darkest bg-dis'}
		   {item.l_type == 'inv' &&
	    'text-inv-darkest bg-inv'}
		   {item.l_type == 'pra' &&
	    'text-pra-darkest bg-pra'}
		   {item.l_type == 'pro' &&
	    'text-pro-darkest bg-pro'}
		   align-middle"
	  >{l_written.find((l) => l.value == item.l_type).text}</span
	>

	{#if item.a_type != 'n'}
	  <span
	    class="text-xs font-medium py-1 px-2 rounded-sm
		   bg-white text-gray-700 border
		   align-middle"
	    >{item.a_type == 'f' ? 'Formative' : ''}
	    {item.a_type == 's' ? 'Summative' : ''}</span
	  >
	{/if}
      </div>
    </div>
  </div>
</div>
