<script>
  import { createEventDispatcher } from 'svelte'
  const dispatch = createEventDispatcher()

  import { onMount } from 'svelte'
  import { chart_data } from './stores.js'
  import Chart from 'chart.js'

  let canvas

  onMount(async () => {
    var ctx = canvas.getContext('2d')

    let radar_data = {
      labels: [
	'Acquisition',
	'Collaboration',
	'Discussion',
	'Investigation',
	'Practice',
	'Production',
      ],
      datasets: [
	{
	  data: $chart_data,
	  backgroundColor: 'rgba(200,0,0,0.2)',
	  borderColor: 'rgba(200,0,0,0.2)',
	  pointBackgroundColor: 'rgba(200,0,0,0.6)',
	  pointBorderColor: 'rgba(200,0,0,0.6)',
	},
      ],
    }

    var radarChart = new Chart(ctx, {
      type: 'radar',
      data: radar_data,
      options: {
	legend: { display: false },
	labels: { fontSize: 10 },
	scale: {
	  pointLabels: {
	    fontSize: 13,
	    fontStyle: 'bold',
	  },
	  ticks: {
	    min: 0,
	    max: 100,
	    stepSize: 20,
	  },
	},
	responsive: true,
	tooltips: {
	  mode: 'label',
	  callbacks: {
	    label: (tooltipItem, data) =>
	      data['datasets'][0]['data'][tooltipItem['index']] + '%',
	    title: () => '',
	    beforeLabel: (tooltipItem, data) =>
	      radar_data.labels[tooltipItem.index],
	  },
	},
      },
    })
  })

  function hide() {
    dispatch('hide')
  }
</script>

<svelte:window on:keydown={(e) => e.keyCode == 27 && hide()} />
<div class="fixed z-50 inset-0 overflow-y-auto">
  <div
    class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
  >
    <div class="fixed inset-0 transition-opacity" aria-hidden="true">
      <div class="absolute inset-0 bg-gray-500 opacity-75" />
    </div>

    <!-- This element is to trick the browser into centering the modal contents. -->
    <span
      class="hidden sm:inline-block sm:align-middle sm:h-screen"
      aria-hidden="true">&#8203;</span
    >

    <div
      tabindex="-1"
      class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-4xl sm:w-full"
      role="dialog"
      aria-modal="true"
      aria-labelledby="modal-headline"
    >
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
	<div class="sm:flex sm:items-start">
	  <div class="mt-3 text-center sm:mt-0 sm:text-left w-full">
	    <h3
	      class="text-lg leading-6 font-medium text-gray-900"
	      id="modal-headline"
	    >Learning activities graph</h3>

	    <div class="mt-6">
	      <canvas bind:this={canvas} />
	    </div>
	  </div>
	</div>
      </div>
      <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
	<button
	  type="button"
	  class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
	  on:click={() => hide()}> Close </button>
      </div>
    </div>
  </div>
</div>
