<script>
  import { createEventDispatcher } from 'svelte'
  const dispatch = createEventDispatcher()

  let shown = false
  let col_name = ''
  let col_id = null // this variable can be used to check if its edit or new
  let item_count = 0 // no of items in column to enable delete button when empty

  export function show(col_data = []) {
    if (col_data.length == 0) {
      // New column
      col_name = ''
      col_id = null
      item_count = null
    } else {
      // Edit column
      col_id = col_data[0]
      col_name = col_data[1]
      item_count = col_data[2]
    }
    shown = true
  }

  export function hide() {
    shown = false
  }

  function addColumn() {
    if (!!col_name) {
      dispatch('add', {
	name: col_name,
      })
      hide()
    }
  }

  function editColumn() {
    if (!!col_name) {
      dispatch('edit', {
	id: col_id,
	name: col_name,
      })
      hide()
    }
  }

  function deleteColumn() {
    dispatch('delete', {
      id: col_id,
    })
    hide()
  }
</script>

<svelte:window on:keydown={(e) => e.keyCode == 27 && hide()} />
{#if shown}
  <div class="fixed z-50 inset-0 overflow-y-auto">
    <div
      class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
    >
      <div class="fixed inset-0 transition-opacity" aria-hidden="true">
	<div class="absolute inset-0 bg-gray-500 opacity-75" />
      </div>

      <!-- This element is to trick the browser into centering the modal contents. -->
      <span
	class="hidden sm:inline-block sm:align-middle sm:h-screen"
	aria-hidden="true"> &#8203; </span>

      <div
	tabindex="-1"
	class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
	role="dialog"
	aria-modal="true"
	aria-labelledby="modal-headline"
      >
	<form action="javascript:void(0);">
	  <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
	    <div class="sm:flex sm:items-start">
	      <div class="mt-3 text-center sm:mt-0 sm:text-left w-full">
		<h3
		  class="text-lg leading-6 font-medium text-gray-900"
		  id="modal-headline"
		>
		  {#if col_id}
		    Edit column
		  {:else}
		    Create new column
		  {/if}
		</h3>

		<div class="mt-2">
		  <div for="column_name" class="block text-sm  text-gray-500">
		    Column name
		  </div>
		  <!-- svelte-ignore a11y-autofocus -->
		  <input
		    type="text"
		    autofocus
		    required="required"
		    bind:value={col_name}
		    name="column_name"
		    id="column_name"
		    class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
		  />
		</div>
	      </div>
	    </div>
	  </div>
	  <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
	    {#if col_id}
	      <button
		type="submit"
		class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-600 text-base font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 sm:ml-3 sm:w-auto sm:text-sm"
		on:click={() => editColumn()}> Save Changes </button>
	      <button
		type="button"
		class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
		on:click={() => hide()}> Cancel </button>
	      {#if item_count == 0}
		<div class="flex-1">
		  <button
		    type="button"
		    class="mt-3 w-full inline-flex justify-center rounded-md border border-red-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-red-700 hover:bg-red-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:mt-0 sm:w-auto sm:text-sm"
		    on:click={() => deleteColumn()}> Delete </button>
		</div>
	      {/if}
	    {:else}
	      <button
		type="submit"
		class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-600 text-base font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 sm:ml-3 sm:w-auto sm:text-sm"
		on:click={() => addColumn()}> Add Column </button>
	      <button
		type="button"
		class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
		on:click={() => hide()}> Cancel </button>
	    {/if}
	  </div>
	</form>
      </div>
    </div>
  </div>
{/if}
