<script>
  import { createEventDispatcher } from 'svelte'
  const dispatch = createEventDispatcher()

  let shown = false
  let item_id = null
  let item_name = ''
  let item_desc = ''
  let col_id = ''
  let col_name = ''

  // Learning activities
  const l_types = [
    { value: 'acq', text: 'Acquisition' },
    { value: 'col', text: 'Collaboration' },
    { value: 'dis', text: 'Discussion' },
    { value: 'inv', text: 'Investigation' },
    { value: 'pra', text: 'Practice' },
    { value: 'pro', text: 'Production' },
  ]

  // Assesment types
  const a_types = [
    { value: 'n', text: 'None' },
    { value: 'f', text: 'Formative' },
    { value: 's', text: 'Summative' },
  ]

  let item_type = l_types[0]
  let item_asm = a_types[0]

  export function show(column, item = {}) {
    if (Object.keys(item).length === 0) {
      // Create new item if no item_data passed
      // Set fields
      item_id = null
      item_name = ''
      item_type = l_types[0]
      item_asm = a_types[0]
      item_desc = ''
    } else {
      // Edit existing item
      // Set fields
      item_id = item.id
      item_name = item.name
      item_type = l_types[l_types.findIndex((l) => l.value == item.l_type)]
      item_asm = a_types[a_types.findIndex((a) => a.value == item.a_type)]
      item_desc = item.desc
    }
    // Set column data
    col_id = column[0]
    col_name = column[1]

    shown = true
  }

  export function hide() {
    shown = false
  }

  function createItem() {
    if (!!item_name) {
      dispatch('add', {
	name: item_name,
	l_type: item_type,
	a_type: item_asm,
	desc: item_desc,
	cid: col_id,
	cname: col_name,
      })
      hide()
    }
  }

  function editItem() {
    if (!!item_name) {
      dispatch('edit', {
	id: item_id,
	name: item_name,
	l_type: item_type,
	a_type: item_asm,
	desc: item_desc,
	cid: col_id,
	cname: col_name,
      })
      hide()
    }
  }

  function deleteItem() {
    dispatch('delete', {
      id: item_id,
    })
    hide()
  }
</script>

<svelte:window on:keydown={(e) => e.keyCode == 27 && hide()} />
{#if shown}
  <div class="fixed z-50 inset-0 overflow-y-auto">
    <div
      class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
    >
      <div class="fixed inset-0 transition-opacity" aria-hidden="true">
	<div class="absolute inset-0 bg-gray-500 opacity-75" />
      </div>

      <!-- This element is to trick the browser into centering the modal contents. -->
      <span
	class="hidden sm:inline-block sm:align-middle sm:h-screen"
	aria-hidden="true">&#8203;</span
      >

      <div
	tabindex="-1"
	class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
	role="dialog"
	aria-modal="true"
	aria-labelledby="modal-headline"
      >
	<form action="javascript:void(0);">
	  <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
	    <div class="sm:flex sm:items-start">
	      <div class="mt-3 text-center sm:mt-0 sm:text-left w-full">
		<h3
		  class="text-lg leading-6 font-medium text-gray-900 truncate"
		  id="modal-headline"
		>
		  {#if item_id}
		    Edit activity in {col_name}
		  {:else}
		    New activity for {col_name}
		  {/if}
		</h3>

		<div class="mt-2">
		  <label for="item_name" class="block text-sm text-gray-500">
		    Activity name
		  </label>
		  <!-- svelte-ignore a11y-autofocus -->
		  <input
		    type="text"
		    autofocus
		    required="required"
		    bind:value={item_name}
		    name="item_name"
		    id="item_name"
		    class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
		  />
		</div>

		<div class="mt-2">
		  <label for="item_type" class="block text-sm text-gray-500"
		    >Learning activity</label
		  >
		  <select
		    id="item_type"
		    name="item_type"
		    bind:value={item_type}
		    class="mt-1 block w-full py-2 px-2 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
		    {#each l_types as l_type}
		      <option value={l_type}>{l_type.text}</option>
		    {/each}
		  </select>
		</div>

		<div class="mt-2">
		  <label for="item_asm" class="block text-sm text-gray-500"
		    >Assesment</label
		  >
		  <select
		    id="item_asm"
		    name="item_asm"
		    bind:value={item_asm}
		    class="mt-1 block w-full py-2 px-2 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
		    {#each a_types as a_type}
		      <option value={a_type}>{a_type.text}</option>
		    {/each}
		  </select>
		</div>

		<div class="mt-2">
		  <span class="block text-sm text-gray-500">Description</span>
		  <div
		    class="border border-gray-300 shadow-sm rounded-md overflow-hidden block w-full mt-1 focus-within:ring-blue-500 focus-within:border-blue-500"
		  >
		    <div
		      contenteditable="true"
		      bind:innerHTML={item_desc}
		      class="overflow-y-scroll h-32 sm:text-sm p-2"
		      style="text-align:left !important"
		    />
		  </div>
		</div>
	      </div>
	    </div>
	  </div>
	  <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
	    {#if item_id}
	      <button
		type="submit"
		class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-600 text-base font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 sm:ml-3 sm:w-auto sm:text-sm"
		on:click={() => editItem()}> Save Changes </button>
	      <button
		type="button"
		class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
		on:click={() => hide()}> Cancel </button>
	      <div class="flex-1">
		<button
		  type="button"
		  class="mt-3 w-full inline-flex justify-center rounded-md border border-red-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-red-700 hover:bg-red-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:mt-0 sm:w-auto sm:text-sm"
		  on:click={() => deleteItem()}> Delete Activity </button>
	      </div>
	    {:else}
	      <button
		type="submit"
		class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-600 text-base font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 sm:ml-3 sm:w-auto sm:text-sm"
		on:click={() => createItem()}> Add Item </button>
	      <button
		type="button"
		class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
		on:click={() => hide()}> Cancel </button>
	    {/if}
	  </div>
	</form>
      </div>
    </div>
  </div>
{/if}
