<script>
  import { createEventDispatcher } from 'svelte'
  const dispatch = createEventDispatcher()

  export let users
  export let code
  export let board // length of board
</script>

<nav class="fixed bg-gray-800 w-full z-40">
  <div class="flex items-center justify-between h-16 px-5">
    <div class="flex space-x-4">
      {#if board > 0}
	<button
	  class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
	  on:click={() => dispatch('chart')}>Learning Graph</button
	>
	<button
	  class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
	  on:click={() => dispatch('dljson')}>Download Board</button
	>
      {:else}
	<button
	  class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
	  on:click={() => dispatch('upload')}>Open File</button
	>
      {/if}
      <button
	class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
	on:click={() => dispatch('about')}>About</button
      >
      <button
	class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
	on:click={() => dispatch('destroy')}>Close</button
      >
    </div>

    <div class="flex space-x-1 overflow-hidden p-1">
      {#if code}
	<button
	  class="text-gray-300 bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium mr-2">
	  Room: <span class="font-mono">{code}</span>
	</button>
      {/if}
      {#each users as user}
	<span
	  class="inline-block h-10 w-10 rounded-full flex items-center justify-center leading-10 font-display font-bold text-gray-800"
	  style="background-color:{user.user.colour}">
	  {user.user.name}
	</span>
      {/each}
    </div>
  </div>
</nav>
