<script>
  import { createEventDispatcher } from 'svelte'
  const dispatch = createEventDispatcher()

  let shown = false
  export function show() {
    shown = true
  }

  export function hide() {
    shown = false
  }

  function uploadBoard() {
    var file = document.getElementById('board_file').files

    if (file.length <= 0) {
      return false
    }

    var reader = new FileReader()
    reader.onload = function (event) {
      var textFromLoadedFile = JSON.parse(event.target.result)
      if (textFromLoadedFile.app == 'abc-collab') {
	// JSON file matches the format used for the board
	dispatch('upload', {
	  board: textFromLoadedFile.board,
	  column_count: textFromLoadedFile.column_count,
	  item_count: textFromLoadedFile.item_count,
	})
      } else {
	return false
      }
    }

    reader.readAsText(file.item(0), 'UTF-8')
    hide()
  }
</script>

<svelte:window on:keydown={(e) => e.keyCode == 27 && hide()} />
{#if shown}
  <div class="fixed z-50 inset-0 overflow-y-auto">
    <div
      class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
    >
      <div class="fixed inset-0 transition-opacity" aria-hidden="true">
	<div class="absolute inset-0 bg-gray-500 opacity-75" />
      </div>

      <!-- This element is to trick the browser into centering the modal contents. -->
      <span
	class="hidden sm:inline-block sm:align-middle sm:h-screen"
	aria-hidden="true">&#8203;</span
      >

      <div
	class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
	role="dialog"
	aria-modal="true"
	aria-labelledby="modal-headline"
      >
	<form action="javascript:void(0);">
	  <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
	    <div class="sm:flex sm:items-start">
	      <div
		class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-green-100 sm:mx-0 sm:h-10 sm:w-10"
	      >
		<!-- Heroicon name: upload -->
		<svg
		  class="h-6 w-6 text-green-600"
		  xmlns="http://www.w3.org/2000/svg"
		  fill="none"
		  viewBox="0 0 24 24"
		  stroke="currentColor">
		  <path
		    stroke-linecap="round"
		    stroke-linejoin="round"
		    stroke-width="2"
		    d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12"
		  />
		</svg>
	      </div>
	      <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
		<h3
		  class="text-lg leading-6 font-medium text-gray-900"
		  id="modal-headline"
		>Upload board from file</h3>
		<div class="mt-2">
		  <p class="text-sm text-gray-500">
		    <label for="board_file"
		      >Select a file from a previous session</label
		    >

		    <input
		      class="pt-2"
		      type="file"
		      id="board_file"
		      name="board_file"
		      accept=".json"
		    />
		  </p>
		</div>
	      </div>
	    </div>
	  </div>
	  <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
	    <button
	      type="button"
	      class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-600 text-base font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 sm:ml-3 sm:w-auto sm:text-sm"
	      on:click={() => uploadBoard()}>Open</button
	    >
	    <button
	      type="button"
	      class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
	      on:click={() => hide()}>Cancel</button
	    >
	  </div>
	</form>
      </div>
    </div>
  </div>
{/if}
